*{
    padding: 0;
    margin: 0;
}
/* index*/

body{
    background-color: white;
    
}

.logoNav{
    width: 100px;
    height: 100px;
}

.carousel{
    margin-top: 50px;
}

.textoBloq{
    display: flex;
}


.tituloIndex{
    color: black;
    margin-top: 150px;
    text-align: center;
}

.parrafo_indexPresentacion{
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    margin: 10rem 5rem 10rem 5rem;
}


.bloque_botom1{
    padding: 3%;
    margin: 50px;
    color: black;
    font-size: x-large;
    text-align: center;
    font-weight: 400;
    border-radius: 25px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.button_idex{
    text-decoration: none;
    background-color: transparent;
    font-weight: bolder;
    color: #444;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border: 2px solid #eee;
    border-radius: .5rem;
    cursor: pointer;
    transition:  all 1s ease;
    box-shadow:  .5rem .5rem 1rem #ccc,
    -.5rem -.5rem 1rem #fff;
}
.button_idex:hover{
    color: black;
    box-shadow:  .5rem .5rem 1rem #fff,
    -.5rem -.5rem 1rem #ccc;
}

.button_idex:active{
    box-shadow: inset .2rem .2rem 1rem #fff,
    -.2rem -.2rem 1rem #ccc;
}

.preguntasFrecuentes{
    margin: 5vh 0 5vh 0;
    text-align: center;
    font-size: x-large;
}

.seccionesPreguntas{
    padding: 50px;
    font-size: x-large;
}
.imgBanner{
    margin-left: 450px;
    margin-bottom: 50px;
}

/*nosotros */
.section_nosotros_main{
    display: block;
}

.text_presentacion{
    margin: 5rem 5rem 10rem 5rem;
    font-size: x-large;
    text-align: start;
}


.div_animacion{
    display: flex;
    margin: 0 5rem 5rem 5rem ;
}


.parrafo_nosotrosAni{
    text-align: start;
    margin: 5rem 3rem 5rem 3rem;
    font-size: x-large;
}

.img_nos{
    width: 30rem;
    height: 20rem;
}
.img_nos:hover{
    transition: 0.3s ease;
    transform: scale(1.20);
}

.parrafo_nosotrosFinal{
    margin: 5rem 5rem 10rem 5rem;
    text-align: center;
    font-size: xx-large;
}

/* Footer */

footer{
    background-color: black;
    color: white;
}

/* Footer Contacto */
.div_contenedorFooterDiv{
    padding: 2%;
    display: flex;
    justify-content: space-between;
}

.ul_contacto{
    align-items: center;
}

.titulo_contacto_footer{
    text-decoration: underline;
}

.li_contacto_footer{
    display: block;
    
}

.ancla_contacto_footer{
    padding: 1%;
    color: white;
    font-size: xx-large;
}
.ancla_contacto_footer:hover{
    transition: 1.04s;
    color: maroon;
}

/*Footer Medios de pago */

.ul_mediosPagos{
    display: block;
    justify-content: center;
}

.titulo_Pagos{
    text-decoration: underline;
}

.li_medios_pagos{
    list-style: none;
}


/* Footer Navegacion */

.ul_navegacion{
    display: block;
}

.titulo_navegacion{
    text-decoration: underline;
}

.li_navegacion{
    list-style: none;
}

.ancla_navegacion{
    color: white;
    display: block;
    text-decoration: none;
}
.ancla_navegacion:hover{
    transition: 1.04s;
    color: maroon;
}

.p_copyrigh{
    text-align: center;
}